body {
    background-color: aliceblue;
}

h1 {
    text-align: center;
}

.squarene {
    margin-top: 75px;
    margin-left: 40px;
    height: 200px;
    width: 200px;
    background-color: #9F8C86;
}

.squareme {
    margin-top: 75px;
    margin-left: 10%;
    height: 200px;
    width: 200px;
    background-color: #9705ec;
}

.squareas {
    height: 200px;
    width: 200px;
    margin-top: 75px;
    margin-left: 5%;
    margin-right: 30px;
    background-color: #de88c7;
}

.squaresha {
    margin-top: 10px;
    margin-left: 150px;
    height: 200px;
    width: 200px;
    background-color: #006E6D;
}

.squarena {
    margin-top: 10px;
    margin-left: 3%;
    height: 200px;
    width: 200px;
    background-color: #dc00a2;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}


/* Clear floats after image containers */

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}