* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:cursive;
    text-align: center;
}
.container {
    min-height: 100vh;
    background-image: url("MinnaBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.hero {
    width: 80%;
    margin: auto;
    padding: 30px 0px;
}
article h1 {
    font-size: 50px;
    font-weight: 800;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(10, 88, 29);
}
article h1::after {
    content: "";
    height: 3px;
    width: 225px;
    background-color: rgb(10, 88, 29);
    display: block;
    margin: auto;
}
img {
    margin: auto;
    display: block;
    margin-top: 40px;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 3px solid #bef4f7;
}
content {
    font-size: 17px;
    color: #000000;
    line-height: 1.5;

}
article h5 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    margin-top: 30px;
    color: rgb(6, 46, 15);
}
article p {
    font-size: 18px;
    color: #000000;
}
p {
    color: #770041;
}
